<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.dao.extend.Coach_AcceptExtendMapper">
	<resultMap id="CoachAcceptExtendMap" 
			   type="com.briup.apps.bean.Coach_Accept"
			   extends="com.briup.apps.dao.Coach_AcceptMapper.BaseResultMap">
	</resultMap>
	
	<select id="findAll" resultMap="CoachAcceptExtendMap">
		SELECT *
		FROM coach_accept
	</select>
	
	
	
</mapper>